<div class="container" style="margin:100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h3>Modificar novedad</h3>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3 row">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
                </div>
                <div class="mb-3 row">
                    <label for="">Subtitulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                </div>
                <div class="mb-3 row">
                    <label for="">Descripcion</label>
                    <textarea name="descripcion" class="form-crontol" style="height: 500px;">{{novedad.descripcion}}</textarea>
                </div>
                <button class="btn btn-outline-success" type="submit">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>